@model CompanyCatalogue.Models.PassingModels.ListPassModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="EditCustomerPartial">
    <div id="ForPartial">
        @Html.Partial("PartialTest", Model)
    </div>
</div>

@if (Model.Number < Model.Employees.Count())
{
    <input type="button" value="Load more" id="LoadMore" />


    @section Scripts
    {
    <script type="text/javascript">
        $('#LoadMore').click(function () {
            var num = @Model.Number + 20;

            $.ajax({
                url: "@(Url.Action("LoadMore", "List"))",
                    type: "Get",
                    data: {num},
                    cache: false,
                    async: true,
                    success: function (data) {
                        $('#ForPartial').html(data);
                    }
                });
            });
        </script>
    }
}